<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style_product.css">
    <script src="scripts.js"></script>
</head>

<body class="page_body">
    <nav class="navbar">
        <div class="navbar-left">
            <button class="navbar-button">Categories</button>
            <button class="navbar-button">Charts</button>
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Search...">
        </div>

        <div class="navbar-right">
            <button class="profile-button">
                Profile
                <span>👤</span>
            </button>
        </div>
    </nav>

    <section class="album-banner">
        <div class="album-banner-content">
            <img src="Assets/AlbumImages/My_beautiful_dark_twisted_fantasy.jpg" alt="Album Cover" class="album-banner-image">
            <h1 class="album-banner-title">My Beautiful Dark Twisted Fantasy</h1>
            <p class="album-banner-artist">By Kanye West</p>
            <p class="album-banner-price">24.99$</p>
            <button class="album-banner-button">
                Add to cart <span class="cart-icon">🛒</span>
            </button>
        </div>
    </section>

    <!-- Description Section -->
    <section class="album-description">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis 
            molestie mi, eu placerat erat. Quisque volutpat finibus nisl vitae ultricies. 
            Sed at scelerisque nulla. Integer mi turpis, sodales ac placerat quis, 
            varius eget augue. Aliquam feugiat dui erat, id euismod augue ullamcorper quis. 
            Cras dictum erat et est mollis interdum. Proin euismod mauris vulputate quam 
            luctus efficitur. Suspendisse varius dolor diam. Duis sem nisl, porta in nulla 
            vitae, imperdiet aliquet risus. Interdum et malesuada fames ac ante ipsum primis 
            in faucibus. Orci varius natoque penatibus et magnis dis parturient montes, 
            nascetur ridiculus mus.
        </p>
    </section>

</body>