<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="../static/style_products.css">
	<script src="scripts.js"></script>	
</head>

<body class="page_body">
	<nav class="navbar">
		<div class="navbar-left">
			<div class="dropdown">
				<button class="navbar-button dropdown-btn">Categories ▼</button>
				<div id = "categories" class="dropdown-menu">
					<a data-category = "albums" href="#">Albums</a>
					<a data-category = "singles" href="#">Singles</a>
					<a data-category = "clothing" href="#">Clothing</a>
					<a data-category = "shoes" href="#">Shoes</a>
					<a data-category = "other" href="#">Other</a>
				</div>	
			<button class="navbar-button">Charts</button>
		</div>

		<div class="search-bar">
			<input type="text" placeholder="Search...">
		</div>

		<div class="navbar-right">
			<button class="profile-button">
				Profile
				<span>👤</span>
			</button>
		</div>
	</nav>

	<div id = "category-header" class="store-header">
		<h2 id = "header" >Product Category Name</h2>
		<div  class="sort">
			Sort: <span id = "sort-by-name" class="sort-option">Ascending by album name</span>
		</div>
	</div>

	<!-- Store Layout -->
	<div class="store-container">
		<aside id = "filter-sidebar" class="filter-sidebar">

		</aside>
		
		<div id = "product-grid" class="product-grid">
			<!-- Repeat this block for each product -->

		</div>
	</div>

	<!-- Load More Button -->
	<div class="load-more-container">
		<button id = "load-button" class="load-more">Load More</button>
	</div>
	
	<script>
		const categoriesWithOptions = {{ categories_with_options | tojson }};
		const albums = {{ albums | tojson }};
		const artists = {{ artists | tojson }};
	</script>
	
	<script src="../static/products_page_script.js"></script>
</body>
</html>